<h1>MON PROFIL</h1>

<p>
  Identifiant/Pseudo: {{user.username}} 
</p>
  
<p>
  Nom de famille: {{user.nom}}   
</p>

<p>
  Adresse mail: {{user.email}}    
</p>

<p>
  Mot de passe: {{user.password}}
</p>

<ul>
  {{#each user.adherent}}
    <li>Adhérent: {{this.prenom}}</li>
  {{/each}}
</ul>

  <a href="/edit-profil">MODIFIER PROFIL</a>
  <a href="/mon-accueil">ACCUEIL</a>
</form>
